            <tr>
        			<td> <%= @count += 1 %></td>
              <td><%= image_tag(product.image.tiny.url)%></td>
        			<td> <%= link_to product.name, product_path(product) %> </td>
              <td> <%= product.condition %> </td>
              <td> <%= product.quantity %> </td>
              <td> <%= product.upc_code %> </td>
        			<td> <%= product.price %> </td>
        			<td>
      				  <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <% if policy(product).destroy? %>
                    <li role="presentation"><%= link_to "Delete", product, method: :delete, data: {confirm: "Are you sure you want to delete this Product?"} %></li>
                    <%end%>
                    <!-- <a role="menuitem" tabindex="-1" href="/products/<%= product.id %>" rel="nofollow" data-method="delete" data-confirm="Are you sure?" remote: true>Delete</a> -->
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= product.id %>/edit">Edit</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= product.id %>/copy">Copy</a></li>
                  </ul>
                </div>
    				
				      </td>
             </tr> 